#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pokemon-title {
  margin: 0;
  margin-bottom: 24px;
}

.slogan {
  font-family: 'Luckiest Guy', pokeFont, Arial, sans-serif;
  font-size: 22px;
  color: #fff;
  text-shadow:
    -2px -2px 0 #356abc,
    2px -2px 0 #356abc,
    -2px 2px 0 #356abc,
    2px 2px 0 #356abc,
    0px 2px 0 #356abc,
    2px 0px 0 #356abc,
    0px -2px 0 #356abc,
    -2px 0px 0 #356abc;
  margin-top: 18px;
  letter-spacing: 1px;
}

.card-choices-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-choices-list li {
  display: flex;
  align-items: center;
  margin: 8px 0;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
